.counter {
  float:right;
}
section.newtweet{
  width:400px;
}

.new-tweet {
  background-color: lightgrey;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10px;
  height:150px;
  margin-bottom: 32px;
}

.new-tweet h2 {
  border-bottom:1px solid;
   width:400px;
   padding-bottom: 5px;



}
article.tweetFeed {
  border-radius: 20px;
  background-color: white;
  z-index:-1;
  margin-top:100px;
}

textarea {
  padding-top: 10px;
  width:350px;
  margin: 50;
  border-radius: 20px;

}

.tweetFeed{
  width:450px;

  z-index: 0;
  margin-bottom: 10px;


}
header p {
  height:50px;
  background-color: white;

}

.head .userlogo {
  height:50px;
  width:50px;
  margin-left:25px;
  float:left;
  padding: 8px;
  background-color: #eee;

}
.username {
  float:right;
  width:125px;
  margin-right:25px;
  font-size: 100%;
  line-height: 2.5;
  background-color: #eee;
  position:relative;
}

.foot {
  width:350px;
  margin-left: 25px;


}

.name {
  width:225px;
  margin:0;
  line-height: 1.6;
  font-size: 200%;
  background-color:#eee;
}


p.tweets {
  position:relative;
  width: 400px;
  height:80px;
  margin-left: 25px;
  line-height: 3;
  padding-left: 10px;
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;

}

footer>p {

  position: relative;
  float:left;
  border-top: 1px solid;
  width:400px;
  margin: 0 0 15px 0;
  background-color: ;
}
p.tweetrFunctions {
  width: 300px;
  float:right;
  margin-left:50px;
  line-height: 3;
  position:relative;
  border-radius: 10px;
}
img .tweetrFunctions {
  width:10px;
  height:10px;
  float:right;
  margin:0 auto;
  position:relative;
}

.tweetFeed:hover img.hoverstate {
  visibility: visible;
}
.tweetFeed:hover .tweets {
  background-color: lightgrey;

}
img.hoverstate {

  width:30px;
  height:30px;
  float:right;
  margin:0 auto;
  position:relative;
  visibility: hidden;
  border-radius: 10px;
}

 p {
  margin:0px;
  float:left;
  position: relative;
  z-index: 1;
}

.flashMsg {
  font-size: 130%;
  z-index:12;
  border-radius: 10px;
  background-color: white;
  width: 200px;
}


